@media(max-width: 767px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }

    .header{
        border-bottom: none;
        padding-top: 49px;
        &__input{
            display: none;
        }
    }

    .header__menu{
        display: none;
    }


    .top-cart{
        display: block;
        height: 400px;
    }
    .top-cart__title{
        font-weight: 600;
        font-size: 48px;
        text-align: center;
        padding-top: 82px;
        padding-bottom: 0;
        margin: 0;
    }

    .cart__image{
        display: none;
    }

    .cart__item{
        padding-bottom: 30px;
        display: flex;
        justify-content: flex-start;
        padding-top: 0;
        padding-top: 18px;
    }

    .cart__title{
        font-size: 18px;
        margin-bottom: 8px;
    }

    .cart__description{
       width: 253px;
       margin-bottom: 15px;
    }
    
  
    .cart__price{
        font-size: 14px;
        margin-bottom: 19px;
    }
    .cart__name-box{
        display: none;
    }


    .cart__info{
        gap: 0;  
    }

    .cart{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 92px;

    &__content{
        width: 100%;
        order: 1;
        margin-bottom: 0;
    }

    &__form{
        width: 100%;
        height: auto;
        padding-bottom: 30px;
        box-sizing: border-box;
        order: 3;
    }

    &__order-input{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
        height: auto;
    }

     &__checkout{
        margin-top: 64px;
    }

    &__checkout-button{
        width: calc(100% - 60px);
        margin-bottom: 154px;
    }

    &__buttons{
        align-items: center;
        order: 2;
        margin-top: 6px;
        margin-bottom: 48px;
    }

    &__buttons-clear,
    &__buttons-continue{
        margin-top: 0;
        width: 165px;
        font-size: 12px;
    }
}


    .header__menu-mobile{
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .header__logo{
        width: 99px;
    }

    .hero-page__title{
        font-weight: 600;
        font-size: 48px;
        line-height: 100%;
        text-align: center;
    }

    .catalog-page{
        height: 400px;
        display: block;
    }

    .catalog-page__wrapper{
        display: flex;
        justify-content: center;
    }
    .catalog-page__title{
        font-weight: 600;
        font-size: 48px;
        margin: 0;
        text-align: center;
        padding-top: 82px;
        padding-bottom: 0;
        
    }

    .catalog-controls__box{
        padding-bottom: 22px;
    }
    .catalog-controls{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 39px;

        &__link{
            font-size: 14px;
        }
    }

    .catalog-controls__select-btn{
        font-size: 14px;
    }
    .catalog-controls__select-css{
        font-size: 14px;
    }
    .catalog-controls__select{
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }
    
    .catalog-controls__filter{
        position: relative;
    }

    .catalog-controls__form{
        display: flex;
        flex-direction: column;
        width: 286px;
        height: auto;
        padding-left: 48px;
        right: auto;
        left: 0;
        top: calc(100% + 14px);
    }

    .catalog-controls__form-wrapper{
        display: flex;
        flex-direction: column;
        width: 200px;
        flex-wrap: nowrap;
        height: auto;
    }

    
    .hero-page__text{
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

    .hero-page__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-page__link{
        font-size: 14px;
        font-weight: 400;
    }

    .for-box__title{
        font-size: 24px;
    }

    .for-box{
        padding-top: 32px;
    }    
    .for{
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        &__item{
            grid-column: 1/-1;
            height: 375px;
            font-size: 28px;

            &-big{
                height: 244px;
            }
        }
    }
.product-box{
    padding-top: 32px;
}

.product-box__content{
    row-gap: 32px;
}

    .product-box__title{
        font-size: 24px;
    }

    .product__title{
        font-size: 18px;
        margin-bottom: 9px;
        margin-top: 9px;
    }

    .product__img{
        margin-bottom: 0;
    }

    .product{
        width: 100%;  
    }
    
    .product__icon{
        left: 262px;
    }
    .product__price{
        font-size: 18px;
    }
    .product__discount{
        font-size: 18px;
    }
    .catalog-box__container{
        align-items: center;
        row-gap: 32px;
    }

    .catalog-box{
        margin-top: 36px;
    }
    
    .catalog-box__title{
        font-size: 24px;
        font-weight: 600;
    }

    .catalog{
        width: 100%;
    }
    .catalog__title{
        font-size: 18px;
    }
    .catalog__price{
        font-size: 18px;
        font-weight: 500;
    }

    .catalog__png{
        display: none;
    }
    .link-box{
        margin-top: 39px;
        margin-bottom: 36px;
    }


    .footer__content{
        width: 100%;
        justify-content: center;
        gap: 34px;
    }

    .footer__info{
        width: 100%;
    }
}


