* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "arial";
}

a:hover {
  text-decoration: underline;
}

.hero-page {
  background-image: url("./img/bg-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-page__link {
  transition: 0.3s;
}
.hero-page__link:hover {
  color: #888888;
  text-decoration: none;
}

.catalog-page {
  background-image: url("./img/bg-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-page__title {
  max-width: 270px;
  padding-top: 127px;
  padding-bottom: 126px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
}

.catalog-controls__link {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}

.catalog-controls {
  margin-top: 61px;
  margin-bottom: 36px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.catalog-controls__select {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-self: end;
}

.catalog-controls__filter {
  position: relative;
}

.catalog-controls__select-btn {
  font: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #000000;
  background-color: white;
  border: 1px solid #C4C4C4;
  font-size: 16px;
  border-radius: 20px;
  background-image: url("./img/select.png");
  background-position: calc(100% - 20px);
  background-size: 20px;
  background-repeat: no-repeat;
  padding-right: 54px;
  padding-bottom: 11px;
  padding-top: 9px;
  padding-left: 23px;
  transition: 0.3s;
}
.catalog-controls__select-btn:hover {
  background-color: #000000;
  color: #F7F6F6;
}

.catalog-controls__select-css {
  font: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #000000;
  background-color: white;
  border: 1px solid #C4C4C4;
  font-size: 16px;
  border-radius: 20px;
  background-image: url("./img/select.png");
  background-position: calc(100% - 20px);
  background-size: 20px;
  background-repeat: no-repeat;
  padding-right: 54px;
  padding-bottom: 11px;
  padding-top: 9px;
  padding-left: 23px;
  transition: all 0.3s;
}
.catalog-controls__select-css:hover {
  background-color: #000000;
  color: #F7F6F6;
}

.filter {
  font-weight: 500;
}

.catalog-controls__form {
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding-top: 40px;
  padding-left: 40px;
  width: 525.5px;
  height: 548px;
}

.catalog-controls__legend {
  font-weight: 500;
  font-size: 16px;
  color: #050505;
  font-family: inherit;
  width: 136px;
  padding-bottom: 16px;
}

.catalog-controls__input {
  display: none;
}

.catalog-controls__label {
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  position: relative;
  row-gap: 14px;
}

.catalog-controls__label::before {
  content: "";
  border: 1px solid #888888;
  width: 15px;
  height: 15px;
  border-radius: 60px;
  position: absolute;
  left: 0;
  background-color: #FFFFFF;
}

.catalog-controls__input:checked + .catalog-controls__label::before {
  border-color: #000000;
  background-image: url("./img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-controls__form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
  -moz-column-gap: 62px;
       column-gap: 62px;
  width: 445.5px;
  height: 468px;
}

.catalog-controls__fieldset {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0;
  border: none;
}

.catalog-controls__range-label {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  gap: 14px;
}

.catalog-controls__range {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.catalog-controls__range-input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
}

.catalog-controls__range-input,
.catalog-controls__range-input::-webkit-slider-runnable-track,
.catalog-controls__range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}

.catalog-controls__range-input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000000;
}

.catalog-controls__range-input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}

.catalog-controls__range-input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000000;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}

.catalog-controls__range-input::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.catalog-controls__range-input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

.catalog-controls__range-slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  height: 20px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
}

.catalog-controls__range-slider input {
  position: absolute;
}

.catalog-controls__color {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}

.catalog-controls__color-checkbox {
  width: 15px;
  height: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.catalog-controls__color-input {
  display: none;
}

.catalog-controls__color-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}

.catalog-controls__color-label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #FFFFFF;
}

.catalog-controls__color-input:checked + .catalog-controls__color-label::before {
  background-image: url("./img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000;
}

.catalog-controls__color-input:checked + .label-black::before {
  background-image: url("./img/checked-white.svg");
}

.label-white::before {
  background-color: #FFFFFF;
  border-color: #808080;
}

.label-black::before {
  background-color: #000000;
  border-color: #000000;
}

.label-grey::before {
  background-color: #737373;
  border-color: #737373;
}

.label-red::before {
  background-color: #FF0000;
  border-color: #FF0000;
}

.label-orange::before {
  background-color: #FF7A41;
  border-color: #FF7A41;
}

.label-yellow::before {
  background-color: #F2CB01;
  border-color: #F2CB01;
}

.label-green::before {
  background-color: #00BF2A;
  border-color: #00BF2A;
}

.label-turquoise::before {
  background-color: #1CCC97;
  border-color: #1CCC97;
}

.label-lightblue::before {
  background-color: #009FE3;
  border-color: #009FE3;
}

.label-blue::before {
  background-color: #000AF8;
  border-color: #000AF8;
}

.label-plum::before {
  background-color: #6710D6;
  border-color: #6710D6;
}

.label-purple::before {
  background-color: #9D0DB5;
  border-color: #9D0DB5;
}

.label-lilac::before {
  background-color: #D89AFF;
  border-color: #D89AFF;
}

.label-pink::before {
  background-color: #FF65A6;
  border-color: #FF65A6;
}

.catalog-controls__type-label {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}

.catalog-controls__type-checkbox {
  width: 190px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.catalog-controls__type-input {
  display: none;
}

.catalog-controls__type-label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #FFFFFF;
}

.catalog-controls__type-input:checked + .catalog-controls__type-label::before {
  background-image: url("./img/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000;
}

.catalog-controls__btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  padding-bottom: 40px;
}

.catalog-controls__form-btn {
  font: inherit;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #040404;
  font-size: 16px;
  font-weight: 400;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 46.5px;
  padding-right: 46.5px;
  margin-left: auto;
  transition: all 0.3s;
}
.catalog-controls__form-btn:hover {
  background-color: #000000;
  color: #F7F6F6;
}

.popular {
  font-weight: 400;
}

header {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #FFFFFF;
}

.header__input {
  font-family: "Montserrat";
  color: white;
  margin-top: 17.5px;
  margin-bottom: 17.5px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  padding-left: 32px;
  border-radius: 30px;
  border: 1px solid #FFFFFF;
  font-size: 16px;
  font-weight: 400px;
  background: transparent;
  width: 288px;
}

.header__input::-moz-placeholder {
  color: #FFFFFF;
}

.header__input::placeholder {
  color: #FFFFFF;
}

.header__menu {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  position: relative;
  gap: 32px;
}

.header__menu-catalog {
  position: relative;
  text-decoration: none;
  color: white;
  text-decoration: none;
}

.header__menu-cart {
  position: relative;
  text-decoration: none;
  color: white;
}

.header__menu-mobile {
  display: none;
}

.hero-page__wrapper {
  padding-top: 63px;
  padding-bottom: 364px;
  color: white;
}

.hero-page__title {
  max-width: 759px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: white;
}

.hero-page__text {
  margin-top: 5px;
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 32px;
}

.hero-page__link {
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.for-box {
  padding-top: 64px;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for-box__title {
  font-weight: 600;
  font-size: 48px;
}

.for__item {
  height: 415px;
  grid-column: span 4;
  font-weight: 600;
  font-size: 34px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for__item-big {
  grid-column: span 6;
}

.for__item-rest {
  background-image: url("./img/rest.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.for__item-work {
  background-image: url("./img/work.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.for__item-kitchen {
  background-image: url("./img/kitchen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.for__item-kids {
  background-image: url("./img/kids.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.for__item-bath {
  background-image: url("./img/bath.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.product-box {
  display: flex;
  padding-top: 64px;
  flex-wrap: wrap;
}

.product-box__title {
  font-weight: 600;
  font-size: 48px;
  color: #000000;
}

.product-box__content {
  gap: 32px;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
}

.product__img {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

.product__png {
  display: flex;
  position: absolute;
}

.product__icon {
  top: 13px;
  gap: 21px;
  align-self: end;
  top: 13px;
  padding-right: 12px;
  left: 300px;
  position: relative;
}

.product__title {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  margin-bottom: 6px;
  margin-top: 8px;
}

.product__description {
  font-weight: 400;
  font-size: 14px;
  color: #888888;
  margin-bottom: 12px;
}

.product__price-box {
  display: flex;
  gap: 32px;
}

.product__price {
  font-weight: 500;
  font-size: 24px;
  color: #050505;
}

.product__discount {
  color: #888888;
  text-decoration: line-through;
  font-weight: 500;
  font-size: 24px;
}

.catalog-container {
  display: flex;
  flex-wrap: wrap;
}

.catalog-container__list {
  row-gap: 49px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
}

.catalog-box__title {
  font-weight: 600;
  font-size: 48px;
  color: #000000;
  margin-bottom: 32px;
}

.catalog-box__container {
  row-gap: 56px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.catalog {
  width: 378px;
  display: flex;
  flex-direction: column;
}

.catalog__img-box {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

.catalog__img {
  width: 100%;
  display: block;
}

.catalog__png {
  position: absolute;
  top: 13px;
  right: 12px;
  display: flex;
  gap: 21px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.catalog:hover .catalog__png {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.catalog__icon {
  cursor: pointer;
}

.catalog__title {
  margin-bottom: 8px;
  color: #000000;
  font-weight: 500;
  font-size: 24px;
}

.catalog__description {
  color: #888888;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
}

.catalog__price {
  font-weight: 500;
  font-size: 24px;
  color: #050505;
}

.link-box {
  margin-top: 39px;
  margin-bottom: 64px;
}

.link-box__catalog {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  transition: 0.3s;
}
.link-box__catalog:hover {
  color: #888888;
  text-decoration: none;
}

.footer {
  background-color: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__logo {
  display: flex;
  position: relative;
  align-self: flex-start;
  padding-top: 32px;
}

.footer__content {
  width: 792px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__info {
  display: flex;
  gap: 129px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__heading {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}

.footer__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__icons img {
  transition: 0.3s;
}
.footer__icons img:hover {
  filter: brightness(0);
}

.footer__links {
  text-decoration: none;
  color: #888888;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__text {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}

.footer__form-email {
  font: inherit;
  font-size: 12px;
  font-weight: 400;
  border-radius: 16px;
  border-width: 1px;
  padding-left: 17px;
  padding-bottom: 13px;
  padding-top: 12px;
  width: 260px;
  border-color: #C4C4C4;
}

.footer__form-email::-moz-placeholder {
  color: #C4C4C4;
}

.footer__form-email::placeholder {
  color: #C4C4C4;
}

.footer__form-button {
  font: inherit;
  text-align: center;
  width: 260px;
  border-radius: 16px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 13px;
  transition: all 0.3s;
}
.footer__form-button:hover {
  background-color: #000000;
  color: #F7F6F6;
}

.top-cart {
  height: 400px;
  background-image: url("./img/cart_title.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-cart__title {
  font-weight: 600;
  font-size: 64px;
  color: #FFFFFF;
  line-height: 70px;
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
  align-items: start;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.cart__item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__title {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}
.cart__description {
  color: #888888;
  font-weight: 400;
  font-size: 14px;
}
.cart__price {
  color: #050505;
  font-size: 16px;
  font-weight: 500;
}
.cart__link-box {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  gap: 30px;
}
.cart__link {
  color: #000000;
  display: inline-block;
}
.cart__input {
  width: 71px;
  height: 51px;
  background-color: #F7F6F6;
  border: none;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}
.cart__form {
  width: 379px;
  background: #F7F6F6;
  border-radius: 20px;
  height: 556px;
  grid-column: span 4;
  grid-row: span 2;
}
.cart__order {
  padding-top: 42px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 24px;
  font-style: bold;
  color: #000000;
  text-align: center;
}
.cart__order-input {
  display: flex;
  flex-direction: column;
  width: 319px;
  height: 20px;
  padding-left: 30px;
}
.cart__order-fill {
  padding-top: 40px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #CACDD8;
}
.cart__checkout {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 244px;
}
.cart__checkout-title {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.cart__checkout-price {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}
.cart__checkout-button {
  color: #040404;
  font: inherit;
  text-align: center;
  width: 319px;
  border-radius: 20px;
  border: 1px solid #040404;
  font-weight: 400;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 18px;
  background-color: transparent;
}
.cart__buttons {
  display: flex;
  gap: 7px;
}
.cart__buttons-clear {
  color: #020202;
  font: inherit;
  text-align: center;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #000000;
  font-weight: 400;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  transition: all 0.3s;
}
.cart__buttons-clear:hover {
  background-color: #000000;
  color: #F7F6F6;
  text-decoration: none;
}
.cart__buttons-continue {
  color: #000000;
  text-decoration: none;
  font: inherit;
  text-align: center;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #000000;
  font-weight: 400;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  transition: all 0.3s;
}
.cart__buttons-continue:hover {
  background-color: #000000;
  color: #F7F6F6;
  text-decoration: none;
}
.cart__content {
  grid-column: span 8;
  align-self: start;
}

@keyframes checkoutPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
.cart__checkout-button {
  transition: all 0.3s;
}
.cart__checkout-button:hover {
  animation: checkoutPulse 0.6s;
  background-color: #000000;
  color: #F7F6F6;
}

input::-moz-placeholder {
  color: #000000;
}

input::placeholder {
  color: #000000;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-box__content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .catalog-box__container {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
}
@media (max-width: 1024px) {
  .cart__form {
    justify-self: start;
  }
  .cart {
    grid-template-columns: 1fr;
  }
  .cart__content {
    grid-row: 1;
    margin-bottom: 32px;
  }
  .cart__buttons {
    grid-row: 2;
    margin-bottom: 32px;
  }
  .cart__form {
    grid-column: 1;
    grid-row: 3;
    width: 378px;
  }
}
@media (max-width: 1024px) {
  .catalog-container__list {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 30px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    border-bottom: none;
    padding-top: 49px;
  }
  .header__input {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .top-cart {
    display: block;
    height: 400px;
  }
  .top-cart__title {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 0;
    margin: 0;
  }
  .cart__image {
    display: none;
  }
  .cart__item {
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
    padding-top: 18px;
  }
  .cart__title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .cart__description {
    width: 253px;
    margin-bottom: 15px;
  }
  .cart__price {
    font-size: 14px;
    margin-bottom: 19px;
  }
  .cart__name-box {
    display: none;
  }
  .cart__info {
    gap: 0;
  }
  .cart {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 92px;
  }
  .cart__content {
    width: 100%;
    order: 1;
    margin-bottom: 0;
  }
  .cart__form {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    box-sizing: border-box;
    order: 3;
  }
  .cart__order-input {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    height: auto;
  }
  .cart__checkout {
    margin-top: 64px;
  }
  .cart__checkout-button {
    width: calc(100% - 60px);
    margin-bottom: 154px;
  }
  .cart__buttons {
    align-items: center;
    order: 2;
    margin-top: 6px;
    margin-bottom: 48px;
  }
  .cart__buttons-clear, .cart__buttons-continue {
    margin-top: 0;
    width: 165px;
    font-size: 12px;
  }
  .header__menu-mobile {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .header__logo {
    width: 99px;
  }
  .hero-page__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
  }
  .catalog-page {
    height: 400px;
    display: block;
  }
  .catalog-page__wrapper {
    display: flex;
    justify-content: center;
  }
  .catalog-page__title {
    font-weight: 600;
    font-size: 48px;
    margin: 0;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 0;
  }
  .catalog-controls__box {
    padding-bottom: 22px;
  }
  .catalog-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 39px;
  }
  .catalog-controls__link {
    font-size: 14px;
  }
  .catalog-controls__select-btn {
    font-size: 14px;
  }
  .catalog-controls__select-css {
    font-size: 14px;
  }
  .catalog-controls__select {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .catalog-controls__filter {
    position: relative;
  }
  .catalog-controls__form {
    display: flex;
    flex-direction: column;
    width: 286px;
    height: auto;
    padding-left: 48px;
    right: auto;
    left: 0;
    top: calc(100% + 14px);
  }
  .catalog-controls__form-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-wrap: nowrap;
    height: auto;
  }
  .hero-page__text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  .hero-page__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-page__link {
    font-size: 14px;
    font-weight: 400;
  }
  .for-box__title {
    font-size: 24px;
  }
  .for-box {
    padding-top: 32px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
  }
  .for__item-big {
    height: 244px;
  }
  .product-box {
    padding-top: 32px;
  }
  .product-box__content {
    row-gap: 32px;
  }
  .product-box__title {
    font-size: 24px;
  }
  .product__title {
    font-size: 18px;
    margin-bottom: 9px;
    margin-top: 9px;
  }
  .product__img {
    margin-bottom: 0;
  }
  .product {
    width: 342px;
  }
  .product__icon {
    left: 262px;
  }
  .product__price {
    font-size: 18px;
  }
  .product__discount {
    font-size: 18px;
  }
  .catalog-box__container {
    align-items: center;
    row-gap: 32px;
  }
  .catalog-box {
    margin-top: 36px;
  }
  .catalog-box__title {
    font-size: 24px;
    font-weight: 600;
  }
  .catalog {
    width: 342px;
  }
  .catalog__title {
    font-size: 18px;
  }
  .catalog__price {
    font-size: 18px;
    font-weight: 500;
  }
  .catalog__png {
    display: none;
  }
  .link-box {
    margin-top: 39px;
    margin-bottom: 36px;
  }
  .footer__content {
    justify-content: center;
    gap: 34px;
  }
  .footer__info {
    gap: 100px;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-box__content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .catalog-box__container {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
}
@media (max-width: 1024px) {
  .cart__form {
    justify-self: start;
  }
  .cart {
    grid-template-columns: 1fr;
  }
  .cart__content {
    grid-row: 1;
    margin-bottom: 32px;
  }
  .cart__buttons {
    grid-row: 2;
    margin-bottom: 32px;
  }
  .cart__form {
    grid-column: 1;
    grid-row: 3;
    width: 378px;
  }
}
@media (max-width: 1024px) {
  .catalog-container__list {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 30px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    border-bottom: none;
    padding-top: 49px;
  }
  .header__input {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .top-cart {
    display: block;
    height: 400px;
  }
  .top-cart__title {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 0;
    margin: 0;
  }
  .cart__image {
    display: none;
  }
  .cart__item {
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
    padding-top: 18px;
  }
  .cart__title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .cart__description {
    width: 253px;
    margin-bottom: 15px;
  }
  .cart__price {
    font-size: 14px;
    margin-bottom: 19px;
  }
  .cart__name-box {
    display: none;
  }
  .cart__info {
    gap: 0;
  }
  .cart {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 92px;
  }
  .cart__content {
    width: 100%;
    order: 1;
    margin-bottom: 0;
  }
  .cart__form {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    box-sizing: border-box;
    order: 3;
  }
  .cart__order-input {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    height: auto;
  }
  .cart__checkout {
    margin-top: 64px;
  }
  .cart__checkout-button {
    width: calc(100% - 60px);
    margin-bottom: 154px;
  }
  .cart__buttons {
    align-items: center;
    order: 2;
    margin-top: 6px;
    margin-bottom: 48px;
  }
  .cart__buttons-clear, .cart__buttons-continue {
    margin-top: 0;
    width: 165px;
    font-size: 12px;
  }
  .header__menu-mobile {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .header__logo {
    width: 99px;
  }
  .hero-page__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
  }
  .catalog-page {
    height: 400px;
    display: block;
  }
  .catalog-page__wrapper {
    display: flex;
    justify-content: center;
  }
  .catalog-page__title {
    font-weight: 600;
    font-size: 48px;
    margin: 0;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 0;
  }
  .catalog-controls__box {
    padding-bottom: 22px;
  }
  .catalog-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 39px;
  }
  .catalog-controls__link {
    font-size: 14px;
  }
  .catalog-controls__select-btn {
    font-size: 14px;
  }
  .catalog-controls__select-css {
    font-size: 14px;
  }
  .catalog-controls__select {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .catalog-controls__filter {
    position: relative;
  }
  .catalog-controls__form {
    display: flex;
    flex-direction: column;
    width: 286px;
    height: auto;
    padding-left: 48px;
    right: auto;
    left: 0;
    top: calc(100% + 14px);
  }
  .catalog-controls__form-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-wrap: nowrap;
    height: auto;
  }
  .hero-page__text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
  .hero-page__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-page__link {
    font-size: 14px;
    font-weight: 400;
  }
  .for-box__title {
    font-size: 24px;
  }
  .for-box {
    padding-top: 32px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
  }
  .for__item-big {
    height: 244px;
  }
  .product-box {
    padding-top: 32px;
  }
  .product-box__content {
    row-gap: 32px;
  }
  .product-box__title {
    font-size: 24px;
  }
  .product__title {
    font-size: 18px;
    margin-bottom: 9px;
    margin-top: 9px;
  }
  .product__img {
    margin-bottom: 0;
  }
  .product {
    width: 342px;
  }
  .product__icon {
    left: 262px;
  }
  .product__price {
    font-size: 18px;
  }
  .product__discount {
    font-size: 18px;
  }
  .catalog-box__container {
    align-items: center;
    row-gap: 32px;
  }
  .catalog-box {
    margin-top: 36px;
  }
  .catalog-box__title {
    font-size: 24px;
    font-weight: 600;
  }
  .catalog {
    width: 342px;
  }
  .catalog__title {
    font-size: 18px;
  }
  .catalog__price {
    font-size: 18px;
    font-weight: 500;
  }
  .catalog__png {
    display: none;
  }
  .link-box {
    margin-top: 39px;
    margin-bottom: 36px;
  }
  .footer__content {
    justify-content: center;
    gap: 34px;
  }
  .footer__info {
    gap: 100px;
  }
}/*# sourceMappingURL=style.css.map */